/src/windows
/windows
/shared
/src/obj
/src/.vs
/.obsidian
src/test.log
*.tlog
/src/gui-testing-library-java/x64
!src/JavaFx_Demo/target/JavaFx_Demo-1.0-SNAPSHOT-shaded.jar
*.obj
*.log
*.obj
/src/GtLibrary/x64
/src/GtLibrary/x64
/src/GTLibrary_CSharp/x64
/src/GTLibrary_CSharp/x64
/src/GTLibrary_CSharp/x64
*.obj
